{% extends "PrestoApp/base.html" %}
{% block content %}
{% load static %}
<div class="container">
  <div class="gallery">
    <img  src=" {% static 'IMAGES/IMG_1067.jpeg' %} " alt="" width="500" height="333">
    <img  src=" {% static 'IMAGES/IMG_1068.jpeg' %} " alt="" width="500" height="333">
    <img  src=" {% static 'IMAGES/IMG_1069.jpeg' %} " alt="" width="500" height="333">
    <img  src=" {% static 'IMAGES/IMG_1070.jpeg' %} " alt="" width="500" height="333">
    <img  src=" {% static 'IMAGES/IMG_1722.jpeg' %} " alt="" width="333" height="500">
    <img  src=" {% static 'IMAGES/IMG_3223.jpeg' %} " alt="" width="333" height="500">
    <img  src=" {% static 'IMAGES/IMG_4860.jpeg' %} " alt="" width="333" height="500">
    <img  src=" {% static 'IMAGES/IMG_6084.jpeg' %} " alt="" width="333" height="500">
    <img  src=" {% static 'IMAGES/IMG_7049.jpeg' %} " alt="" width="333" height="500">
    <img  src=" {% static 'IMAGES/IMG_9249.jpeg' %} " alt="" width="333" height="500">
    <img  src=" {% static 'IMAGES/IMG_9944.jpeg' %} " alt="" width="333" height="500">
  </div>
</div>






{% endblock %}
