{% extends "PrestoApp/base.html" %}
{% block content %}
<div class="container">
  <h1>Kontakt:</h1>

  <h2>Numer telefonu: 533 988 210</h2>
  <h2>Adres: Ostrów 35c</h2>
  <div class="mapouter"><div class="gmap_canvas"><iframe width=600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Presto%20ostr%C3%B3w&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">google map for web</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
</div>

{% endblock %}
